<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper News Network</a>
<ul class="right" id="nav-mobil">
    <li><a href="/scrape">Scrape</a></li>
    <li><a href="https://github.com/jldueyusa/scraper.git" target="_Blank">Git Repo</a></li>
</ul>
    </div>
</nav>